DIV.center{
	border: solid 1px;
	width: 200px;
	text-align: center;
	margin: 100px auto 0 auto;
	background: green;
}

#response{
	font: bold 11px Helvetica;
	color: black;
	background: green;
	padding: 10px;
}